.mision {
  width: 100%;
}
.container-mision {
  width: 90%;
  margin: auto;
}
.item-mision .card-mision {
  padding: 15px;
}
.item-mision:nth-child(1) {
  margin: auto;
}
.item-mision:nth-child(1) .card-mision {
  background-color: #fd8cb7;
}
.item-mision:nth-child(1) .card-mision:nth-child(2) {
  background-color: #ba19a1;
}
.card-mision {
  color: white;
  margin: 15px auto;
  border-radius: 10px;
}
.card-mision h3 {
  font-size: 18px;
}
.card-mision p {
  font-size: 13px;
  text-align: justify;
}
.item-mision h2 {
  font-size: 27px;
  text-align: center;
}

.container-valores {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: auto;
}
.card-valores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.card-img-valores {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #fd8cb7;
}
.card-valores img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  padding: 15px;
}
.card-valores span {
  font-size: 1em;
  color: #5b5b5b;
}
@media (min-width: 767px) {
  .mision {
    width: 100%;
  }
  .container-mision {
    width: 90%;
    margin: auto;
  }
  .item-mision .card-mision {
    padding: 15px;
  }
  .item-mision:nth-child(1) {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 80%;
  }
  .item-mision:nth-child(1) .card-mision {
    transition: all 0.7s;
    padding: 30px;
  }
  .item-mision:nth-child(1) .card-mision:nth-child(2) {
    transition: all 0.7s;
    padding: 30px;
  }
  .item-mision:nth-child(1) .card-mision:hover {
    background-color: #0b2458;
    transition: all 0.7s;
  }
  .item-mision:nth-child(1) .card-mision:nth-child(2):hover {
    background-color: #0b2458;
    transition: all 0.7s;
  }
  .card-mision {
    color: white;
    margin: 15px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card-mision h3 {
    font-size: 18px;
  }
  .card-mision p {
    font-size: 13px;
    text-align: justify;
  }
  .item-mision h2 {
    font-size: 40px;
    text-align: center;
    margin: 12px auto;
  }

  .container-valores {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: auto;
  }
  .card-valores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .card-img-valores:hover {
    transition: 0.7s;
    border-radius: 100%;
    box-shadow: 7px 7px 7px #0b2458;
  }
  .card-img-valores {
    transition: 0.7s;
    width: 140px;
    height: 140px;
    object-fit: cover;

    border-radius: 50%;
  }
  .card-valores img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    padding: 30px;
  }
  .card-valores span {
    font-size: 1em;
    color: #5b5b5b;
  }
}

@media (min-width: 1250px) {
  .container-valores {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: auto;
  }
}
