.agenda {
  width: 100%;
  margin: auto;
}
.container-agenda {
  width: 100%;
  margin: 20px auto 40px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.item-agenda:nth-child(1) h2 {
  text-align: left;
  font-size: 27px;
  margin-left: 15px;
}
.container-list-agenda {
  padding: 5px;
}
.list-agenda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.body-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #ff117f;
}
.body-img img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  padding: 15px;
}
.body-list h2 {
  font-size: 18px !important;
}
.body-list p {
  font-size: 14px;
  text-align: left;
}
.item-agenda:nth-child(2) {
  width: 95%;
  margin: auto;
  background-position: center center;
  background-size: cover;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ff117f;
  padding: 10px;
}

.item-agenda:nth-child(2) h2 {
  color: #ff117f;
  font-size: 25px;
  margin-top: 0px;
}
.item-agenda:nth-child(2) p {
  color: #fff;
  text-align: center;
}
.item-agenda:nth-child(2) h3 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.item-agenda:nth-child(2) a {
  background-color: #ff117f;
  display: block;
  width: 170px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  margin: 7px auto;
  padding: 8px 12px;
  text-decoration: none;
}
.item-agenda:nth-child(2) a i {
  margin-right: 5px;
}
.st-shedule-list {
  width: 85%;
}
.st-shedule-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px dashed #b5b5b5;
  padding: 10px 0;
}
.contact-agenda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.item-contacto-agenda img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.item-contacto-agenda p {
  color: #ff117f !important;
  font-size: 17px;
  font-weight: 500;
}

@media (min-width: 767px) {
  .container-agenda {
    width: 90%;
    margin: 20px auto 40px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container-list-agenda {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
  }
  .item-agenda:nth-child(2) {
    gap: 18px;
    height: auto;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px auto;
  }
  .item-agenda:nth-child(1) h2 {
    font-size: 40px;
    margin-left: 15px;
    margin-top: 20px;
  }
  .st-shedule-list {
    width: 85%;
    margin-bottom: 15px;
  }

  .body-list h2 {
    font-size: 20px !important;
  }
  .body-list p {
    font-size: 16px;
    text-align: left;
  }
  .item-agenda:nth-child(2) a {
    width: 220px;
    padding: 10px 12px;
    transition: 0.7s all ease;
  }
  .item-agenda:nth-child(2) a:hover {
    transition: 0.7s all ease;
    transform: scale(0.9);
  }
}
