footer {
  width: 100%;
  background-color: black;
  margin-top: 0px;
  padding-bottom: 0px;
}
.container-footer {
  width: 90%;
  margin: auto;
}
.item-container-footer img {
  max-width: 70%;
  text-align: left;
  display: block;
}
.item-container-footer p {
  color: white;
  text-align: left;
  font-size: 14px;
}
.item-container-footer h2 {
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.item-container-footer i {
  color: white;
  font-size: 25px;
  margin: 7px;
}
.menu-footer ul li {
  list-style: none;
}
.menu-footer ul li a {
  color: white;
  text-decoration: none;
}
.datos-desarrollo {
  width: 100%;
  background-color: #ba19a1;
  padding: 10px 10px;
}
.datos-desarrollo p {
  color: white;
  font-size: 12px;
}
.datos-desarrollo p a {
  text-decoration: none;
  color: white;
}
@media (min-width: 767px) {
  footer {
    width: 100%;
  }
  .container-footer {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 10px;
  }
  .item-container-footer img {
    max-width: 50%;
    text-align: left;
    display: block;
  }
  .menu-footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
  }
  .item-container-footer p {
    color: white;
    text-align: left;
    font-size: 13px;
  }
  .datos-desarrollo {
    width: 100%;
    background-color: #ba19a1;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
  }
}
