footer {
  width: 100%;
  background-color: black;
  margin-top: 0px;
}
.container-footer {
  width: 90%;
  margin: auto;
}
.item-container-footer img {
  max-width: 70%;
  text-align: left;
  display: block;
}
.item-container-footer p {
  color: white;
  text-align: left;
}
.item-container-footer h2 {
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.item-container-footer i {
  color: white;
  font-size: 25px;
  margin: 7px;
}
.menu-footer ul li {
  list-style: none;
}
.menu-footer ul li a {
  color: white;
  text-decoration: none;
}
