.opiniones {
  width: 100%;
  margin: 0px auto;
  padding: 10px 20px;
  background-image: linear-gradient(to top right, #ba19a1, #ff0286);
}
.opiniones h2 {
  text-align: center !important;
  color: white;
  font-size: 27px;
}

.slider-opiniones {
  width: 100% !important;
  margin: auto !important;
}
.card-opinion {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  flex-direction: column;
  height: 270px;
  background-color: aliceblue;
  gap: 12px;
  padding: 10px;
}
.card-opinion h4 {
  font-weight: 400;
  font-size: 14px;
}
.author {
  color: #ba19a1;
  font-weight: 700;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 17px;
  line-height: 17px;
  position: absolute;
  top: -15px;
  left: 0;
  width: 30px;
  height: 30px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 767px) {
  .opiniones {
    width: 100%;
    margin: 0px auto;
    padding: 10px 100px;
  }
  .opiniones h2 {
    text-align: center !important;
    color: white;
    font-size: 27px;
  }

  .slider-opiniones {
    width: 100% !important;
    margin: auto !important;
  }
}
@media (min-width: 1200px) {
  .opiniones {
    width: 100%;
    margin: 0px auto;
    padding: 40px 200px;
  }
  .opiniones h2 {
    text-align: center !important;
    color: white;
    font-size: 40px;
  }

  .slider-opiniones {
    width: 100% !important;
    margin: auto !important;
  }

  .card-opinion h4 {
    font-weight: 400;
    font-size: 18px;
  }
  .author {
    color: #ba19a1;
    font-weight: 700;
    font-size: 19px;
  }
}
