.galery-2 {
  width: 100%;
  overflow-x: hidden;
}
.galery-2 h2 {
  text-align: center;
  color: #2e2e2e;
  font-size: 2em;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-bottom: 15px;
}
.container-galery-2 {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin: 20px auto;
}
.item-galery-2 button {
  display: block;
  width: 150px;
  background-color: #ff117f;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin: 12px auto;
  border: none;
  padding: 8px;
  font-size: 0.9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
}
.item-galery-2 img {
  max-width: 100%;
  min-width: 140px;
  min-height: 140px;
  object-fit: cover;
}
.item-galery-img-2 {
  position: relative;
}
.title-services-2 {
  position: absolute;
  bottom: 5px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  padding: 8px;
}
.title-services-2 span {
  color: #fff;
  font-size: 11px;
}

.modal-atractions {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.7s;
}
.modal-atractions.popup {
  transform: scale(1);
  transition: 0.7s;
}
.container-atractions-2 {
  background-color: #fff;
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 5px solid #ff117f;
}
.container-atractions-2 h2 {
  font-size: 1.4em;
  margin: 0px auto;
}
#texto-modal-2 {
  font-size: 13px !important;
  text-align: justify;
  font-weight: 400;
}
#btn-modal-2 {
  display: block;
  margin: 15px auto;
  width: 250px;
  background-color: #ff117f;
  text-align: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 7px;
  font-size: 0.6em;
  transition: 1s;
  border-radius: 20px;
  font-weight: 400;
}
#menu-modal li {
  font-size: 13px;
  text-align: justify;
  font-weight: 400;
}
@media (min-width: 768px) {
  .container-atractions-2 a:hover {
    transition: 0.7s all ease;
    transform: scale(0.9);
  }
  .galery-2 h2 {
    text-align: center;
    color: #2e2e2e;
    font-size: 2.5em;
    margin-bottom: 0;
  }
  .container-galery-2 {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin: 10px auto 35px;
  }
  .item-galery-2 img {
    max-width: 100%;
  }
  .item-galery-2 img {
    max-width: 100%;
    width: 420px;
    height: 300px;
    object-fit: cover;
  }

  .container-atractions-2 {
    background-color: #fff;
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    border: 5px solid #ff117f;
  }
  .container-atractions-2 h2 {
    font-size: 2em;
    margin: 0px auto;
  }
  .container-atractions-2 p {
    font-size: 0.6em;
    text-align: justify;
    font-weight: 400;
  }
  .title-services span {
    color: #fff;
    font-size: 16px;
  }
  .item-galery-2 button {
    transition: 0.7s all ease;
  }
  .item-galery-2 button:hover {
    transition: 0.7s all ease;
    transform: scale(0.9);
    background-color: #fd8cb7;
  }
  #btn-modal-2 {
    display: block;
    margin: 18px auto;
    width: 350px;
    background-color: #ff117f;
    text-align: center;
    padding: 7px;
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    font-size: 16px !important;
    transition: 1s;
    border-radius: 20px;
    font-weight: 400;
  }
  #texto-modal-2 {
    font-size: 15px !important;
    text-align: justify;
    font-weight: 400;
  }
  #menu-modal li {
    font-size: 15px;
    text-align: justify;
    font-weight: 400;
  }
}

@media (min-width: 1300px) {
  .container-galery-2 {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin: 10px auto 35px;
  }
}
