.galery {
  width: 100%;
  overflow-x: hidden;
}
.galery h2 {
  text-align: center;
  color: #2e2e2e;
  font-size: 2em;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-bottom: 15px;
}
.container-galery {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  margin: 20px auto;
}
.item-galery button {
  display: block;
  width: 170px;
  background-color: #2e2e2e;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin: 12px auto;
  border: none;
  padding: 12px;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.item-galery img {
  max-width: 100%;
  min-width: 290px;
  min-height: 290px;
  object-fit: cover;
}
.item-galery-img {
  position: relative;
}
.title-services {
  position: absolute;
  bottom: 5px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  padding: 8px;
}
.title-services span {
  color: #fff;
  font-size: 14px;
}

.modal-atractions {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.7s;
}
.modal-atractions.popup {
  transform: scale(1);
  transition: 0.7s;
}
.container-atractions {
  background-color: #fff;
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 5px solid #ff117f;
}
.container-atractions h2 {
  font-size: 1.4em;
  margin: 0px auto;
}
.container-atractions p {
  font-size: 0.8em;
  text-align: justify;
  font-weight: 400;
}
.container-atractions a {
  display: block;
  margin: 7px auto;
  width: 170px;
  background-color: #ff117f;
  text-align: center;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 7px;
  font-size: 1.1em;
  transition: 1s;
}
@media (min-width: 768px) {
  .container-atractions a {
    display: block;
    margin: 10px auto;
    width: 200px;
    background-color: #ff117f;
    text-align: center;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    font-size: 1.2em;
  }
  .galery h2 {
    text-align: center;
    color: #2e2e2e;
    font-size: 2.5em;
  }
  .container-galery {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin: 12px auto;
  }
  .item-galery img {
    max-width: 100%;
  }

  .container-atractions {
    background-color: #fff;
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    border: 5px solid #ff117f;
  }
  .container-atractions h2 {
    font-size: 2em;
    margin: 0px auto;
  }
  .container-atractions p {
    font-size: 0.6em;
    text-align: justify;
    font-weight: 400;
  }
  .title-services span {
    color: #fff;
    font-size: 16px;
  }
}
